﻿body {
    font-family: Tahoma;
    font-size: small;
}

#mainwindow {
    border: 6px #f1f3f2 solid;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

#titlebar {
    background-color: #93ccdd;
    font-size: large;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

#actionbar {
    border: #ecd58d 1px solid;
    background-color: #fff1d6;
    margin-top: 4px;
    height: 22px;
    padding: 4px;
}

#buscar, #sincronizar {
    border: gray solid 1px;
    font-size: smaller;
    background-color: #f2f2f2;
    padding: 0 4px;
}

#buscar, #txtbusqueda, #progress {
    float: left;
    margin: 0 5px;
    height: 20px;
}

#sincronizar {
    float: left;
    height: 20px;
    width: 90px;
    position: relative;
}

#progress {
    display: none;
}

#progressbar, #sincronizartext {
    position: absolute;
    left: 0;
    top: 0;
}

#sincronizartext {
    width: 100%;
    z-index: 1;
}

#progressbar {
    display: none;
    z-index: 100;
    width: 0%;
    background-color: green;
    height: 100%;
}

#buscar, #sincronizar {
    cursor: default;
}

#txtbusqueda {
    margin-top: -2px;
}

#mainbody {
    border: #ecd58d 1px solid;
    background-color: #fffbf0;
    padding: 35px 5px;
    margin-top: -1px;
    height: 100%;
    width: 100%;
    position: absolute;
}

#mainGrid {
    border: 2px gray solid;
    width: 700px;
}

    #mainGrid table {
        width: 100%;
        padding: 2px;
        border-spacing: 0px;
        border-style: solid;
        border-collapse: collapse;
    }

    #mainGrid thead td {
        background: linear-gradient(to bottom, #d7d8da 0%, #a9a9ae 100%);
        text-align: center;
        font-weight: bold;
        border-spacing: 2px;
    }

#txtbusquedaInput {
    height: 16px;
    margin-top: 2px;
    font-size: smaller;
}

#cancelbusqueda {
    margin-left: -22px;
    vertical-align: middle;
    margin-top: -4px;
}

#scrollleft, #scrollright {
    float: left;
    width: 10%;
    cursor: default;
}

#datesheader {
    float: left;
    width: 80%;
}

#mainGrid table tbody tr td:nth-child(2) {
    padding: 0 3px;
}

.cellcompany {
    text-align: center;
}

.celldate {
    font-weight: bold;
}

.celltotal {
    font-weight: bold;
    text-align: right;
    color: black;
    padding-right: 4px;
}

.cellcalculando {
    font-weight: normal;
    text-align: center;
    color: gray;
}

.okicon {
    background-image: url(/Resources/okicon.gif);
    background-repeat: no-repeat;
    float: left;
    width: 16px;
    text-align: left;
}

.celldate:nth-child(n+4), #mainGrid>table>tbody>tr>td:nth-child(n+6) {
    display: none;
}
