﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sistema Ventas - Sincronizaci&oacute;n Ventas</title>
    <link href="~/content/toastr.min.css" rel="stylesheet" />
    <link href="~/content/app.css" rel="stylesheet" />
</head>
<body>
    <div id="mainwindow">
        <div id="titlebar">
            <img src="~/Resources/dbicon.gif" style="vertical-align:middle;" /> Sistema Ventas - Sincronizaci&oacute;n Ventas
        </div>
        <div id="actionbar">
            <div id="buscar">
                <img src="~/Resources/searchicon.gif" style="vertical-align:middle;" />Buscar
            </div>
            <div id="txtbusqueda" style="display: none;"><input type="text" id="txtbusquedaInput"/>
                <img src="~/Resources/cancelicon.png" id="cancelbusqueda"/></div>
            <div id="sincronizar">
                <div id="sincronizartext"><img src="~/Resources/refreshicon.gif" style="vertical-align:middle;" /> Importar datos</div>
                <div id="progressbar">&nbsp;</div>
            </div>
            <div id="progress">&nbsp;</div>
            &nbsp;
        </div>
        <div id="mainbody">
            <div id="mainGrid">
                <table border="1">
                    <thead>
                        <tr>
                            <td rowspan="2"><input type="checkbox" id="seltodos" /></td>
                            <td rowspan="2">Cliente</td>
                            <td colspan="3" style="font-size:smaller"><div id="scrollleft"><img src="~/Resources/lefticon.png" /></div><div id="datesheader">An&aacute;lisis por D&iacute;a</div><div id ="scrollright" ><img src="~/Resources/righticon.png" /></div></td>
                        </tr>
                        <tr id="fechas"></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>
